<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>1</string>
		<key>categoryImage</key>
		<string>jiaju</string>
		<key>title</key>
		<string>家居</string>
		<key>engTltle</key>
		<string>Home</string>
	</dict>
	<dict>
		<key>category</key>
		<string>2</string>
		<key>categoryImage</key>
		<string>chuangyi</string>
		<key>title</key>
		<string>创意</string>
		<key>engTltle</key>
		<string>Originality</string>
	</dict>
	<dict>
		<key>category</key>
		<string>3</string>
		<key>categoryImage</key>
		<string>bangong</string>
		<key>title</key>
		<string>办公</string>
		<key>engTltle</key>
		<string>Office</string>
	</dict>
	<dict>
		<key>category</key>
		<string>4</string>
		<key>categoryImage</key>
		<string>weiyu</string>
		<key>title</key>
		<string>卫浴</string>
		<key>engTltle</key>
		<string>Bathroom</string>
	</dict>
	<dict>
		<key>category</key>
		<string>5</string>
		<key>categoryImage</key>
		<string>hufu</string>
		<key>title</key>
		<string>护肤</string>
		<key>engTltle</key>
		<string>Skin Care</string>
	</dict>
	<dict>
		<key>category</key>
		<string>6</string>
		<key>categoryImage</key>
		<string>meishi</string>
		<key>title</key>
		<string>美食</string>
		<key>engTltle</key>
		<string>Food</string>
	</dict>
	<dict>
		<key>category</key>
		<string>7</string>
		<key>categoryImage</key>
		<string>zhuti</string>
		<key>title</key>
		<string>主题</string>
		<key>engTltle</key>
		<string>Theme</string>
	</dict>
	<dict>
		<key>category</key>
		<string>8</string>
		<key>categoryImage</key>
		<string>zhiwu</string>
		<key>title</key>
		<string>植物</string>
		<key>engTltle</key>
		<string>Plant</string>
	</dict>
	<dict>
		<key>category</key>
		<string>9</string>
		<key>categoryImage</key>
		<string>chuju</string>
		<key>title</key>
		<string>厨具</string>
		<key>engTltle</key>
		<string>Kitchen</string>
	</dict>
	<dict>
		<key>category</key>
		<string>10</string>
		<key>categoryImage</key>
		<string>zahuo</string>
		<key>title</key>
		<string>杂货</string>
		<key>engTltle</key>
		<string>Groceries</string>
	</dict>
	<dict>
		<key>category</key>
		<string>11</string>
		<key>categoryImage</key>
		<string>yundong</string>
		<key>title</key>
		<string>运动</string>
		<key>engTltle</key>
		<string>Sports</string>
	</dict>
	<dict>
		<key>category</key>
		<string>12</string>
		<key>categoryImage</key>
		<string>shuma</string>
		<key>title</key>
		<string>数码</string>
		<key>engTltle</key>
		<string>Digital</string>
	</dict>
</array>
</plist>
